<?xml version="1.0"?>
<!--
  Gazebo Classic simulation overlay for the AMR platform.
  Reuses the amr_description kinematic model and adds simulation plugins.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr">

  <xacro:include filename="$(find amr_description)/urdf/amr_properties.xacro"/>

  <xacro:include filename="$(find amr_description)/urdf/amr_base.xacro"/>
  <xacro:include filename="$(find amr_description)/urdf/amr_wheels.xacro"/>
  <xacro:include filename="$(find amr_description)/urdf/amr_caster.xacro"/>
  <xacro:include filename="$(find amr_description)/urdf/amr_sensors.xacro"/>
  <xacro:include filename="$(find amr_description)/urdf/amr_ros2_control.xacro"/>
  <xacro:include filename="$(find amr_gazebo)/urdf/amr_lidar.gazebo.xacro"/>
  <xacro:include filename="$(find amr_gazebo)/urdf/amr_imu.gazebo.xacro"/>
  <xacro:include filename="$(find amr_gazebo)/urdf/amr_base.gazebo.xacro"/>
  <xacro:include filename="$(find amr_gazebo)/urdf/amr_wheels.gazebo.xacro"/>
  <xacro:include filename="$(find amr_gazebo)/urdf/amr_caster.gazebo.xacro"/>

  <xacro:amr_base/>
  <xacro:amr_wheels/>
  <xacro:amr_caster/>
  <xacro:amr_sensors/>
  <xacro:amr_ros2_control/>
  <xacro:amr_lidar_gazebo/>
  <xacro:amr_imu_gazebo/>
  <xacro:amr_base_gazebo/>
  <xacro:amr_wheels_gazebo/>
  <xacro:amr_caster_gazebo/>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find amr_control)/config/ros2_control.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
