<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Official Humble ModelPlugin: model-level <gazebo>, no link reference. -->
  <xacro:macro name="amr_ros2_control_gazebo">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>${ros2_control_config}</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
